*{
    padding: 0;
    margin: 0;
}

.menu li{
    display: inline-block;
    justify-content: center;
    padding-left: 125px;
}

.menu li a{
    background-color: lightskyblue;
    padding: 30px;

}
.menu li a:link{
    color: black;
}
.menu li a:visited{
    color: black;
}
.menu li a:hover{
    color: white;
}
